In [1]:
# THIRD PARTY LIBRARIES
import sqlite3
import pandas as pd

# BUILT-IN LIBRARY
from datetime import date
today = date.today()

<b>sqlite3</b> untuk memberi akses ke <i>database</i><br>
<b>pandas</b> untuk eskpor ke .xlsx<br>
<b>datetime</b> untuk mengetahui tanggal sekarang

## 1. Koneksikan ke <i>database</i>

In [2]:
con = sqlite3.connect("Ngampus!/Semester 5/Praktek Kerja Lapangan/database/pangkalan_data.db")

data = pd.read_sql("select * from pengunjung", con)

#### 1.1 Lihat data

In [3]:
data

,ID,Tanggal,NPM/NRP,Nama,Tanggal_Lahir,Golongan,Diagnosa,Perawatan_Gigi,Pengobatan
0,1,CURRENT_DATE(),None,Shireen,2000-06-10,Mahasiswa,Operasi,Operasi,Operasi
1,2,2019-10-23,None,Testing,1999-05-04,Mahasiswa,Operasi,Operasi,Operasi
2,3,2019-10-23,NULL,Testing2,1999-14-15,Mahasiswa,Operas,Operas,Operas

## 2. Eskpor data

#### 2.1 Variabel bantu untuk penamaan <i>file</i> .xlsx yang diekspor

In [4]:
Bulan = ["Januari", "Februari", "Maret", "April",
        "Mei","Juni", "Juli", "Agustus",
        "September", "Oktober", "November", "Desember"]

In [5]:
# EKSPOR DATA!

file = pd.ExcelWriter("Rekap Bulan " + Bulan[today.month-1] + " " + str(today.year) +".xlsx")
data.to_excel(file, 'Sheet1', index=False)   # DAPAT DITAMBAHKAN KE SHEET 2 DAN SETERUSNYA

file.save()

## 3. Lihat hasil ekspor

In [6]:
excel = pd.read_excel("Rekap Bulan Oktober 2019.xlsx")
excel

,ID,Tanggal,NPM/NRP,Nama,Tanggal_Lahir,Golongan,Diagnosa,Perawatan_Gigi,Pengobatan
0,1,CURRENT_DATE(),NaN,Shireen,2000-06-10,Mahasiswa,Operasi,Operasi,Operasi
1,2,2019-10-23,NaN,Testing,1999-05-04,Mahasiswa,Operasi,Operasi,Operasi
2,3,2019-10-23,NaN,Testing2,1999-14-15,Mahasiswa,Operas,Operas,Operas

Alhamdulillah cukup sekian saja<br>
Kolom NPM/NRP itu tipe datanya harus'nya <i>integer</i><br>
Makanya di sana NaN soalnya kami ndak ngisi nilai'nya dengan <i>integer</i> :v